<div class="header-motto-container">
    <h2 class="motto">Celebrating Life, One Party at a Time</h2>
</div>

{% style %}
.header-motto-container {
    text-align: center;
    font-family: "Oregano";
    font-size: 23px;
    margin-bottom: -10px;
}
{% endstyle %}


{% schema %}
    {
        "name": "Magenda Motto Header",
        "settings": [],
        "presets": [{
            "name": "Magenda Motto Header",
            "category": "text"
        }]
    }
{% endschema %}